<section>
  <h1>Sponsors</h1>
  <ul>
  <li><a href="http://www.jetbrains.com/" title="World's Leading Vendor of Smart Developer Tools"><img title="World's Leading Vendor of Smart Developer Tools" alt="JetBrains Logo" src="/images/logo_JB_tagline.png"></a></li>
  </ul>
  <li><a href="http://pluralsight.com/" title="Pluralsight - Hardcore Developer and IT Training"><img title="Pluralsight - Hardcore Developer and IT Training" alt="Pluralsight Logo" src="/images/pluralsight.png"></a></li>
  </ul>		
</section>